@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');
:root {
    --primary-font: white;
    --background-color: black;
    --primary-color: rgb(234, 38, 234);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Antonio', sans-serif;
    font-weight:bolder;
    color: var(--primary-font);
}

body{
    background-color: var(--background-color);
}
.container{
    padding: 0px 50px;
}